
//文字大小

.font-size-sm{
    font-size: $font-size-sm;
}
.font-size-lg{
    font-size: $font-size-lg;
}

.h1{
    font-size: $h1-font-size;//40
}
.h2{
    font-size: $h2-font-size;//32
}
.h3{
    font-size: $h3-font-size;//28
}
.h4{
    font-size: $h4-font-size;//24
}
.h5{
    font-size: $h5-font-size;//20
}
.h6{
    font-size: $h6-font-size;//16
}

@include pad{
    .h1-md{
        font-size: $h1-font-size;//40
    }
    .h2-md{
        font-size: $h2-font-size;//32
    }
    .h3-md{
        font-size: $h3-font-size;//28
    }
    .h4-md{
        font-size: $h4-font-size;//24
    }
    .h5-md{
        font-size: $h5-font-size;//20
    }
    .h6-md{
        font-size: $h6-font-size;//16
    }
}

@include desktop{
    .h1-lg{
        font-size: $h1-font-size;//40
    }
    .h2-lg{
        font-size: $h2-font-size;//32
    }
    .h3-lg{
        font-size: $h3-font-size;//28
    }
    .h4-lg{
        font-size: $h4-font-size;//24
    }
    .h5-lg{
        font-size: $h5-font-size;//20
    }
    .h6-lg{
        font-size: $h6-font-size;//16
    }
}
// ---------------------------------------------------

//文字weigth


// ---------------------------------------------------

//文字顏色


// ---------------------------------------------------
